[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gambin"]
	path = gambin
	url = https://github.com/txm676/gambin
[submodule "nos"]
	path = nos
	url = https://github.com/txm676/nos
[submodule "sars"]
	path = sars
	url = https://github.com/txm676/sars
